<div class="header_container row">
    <div class="header_title col-xs-5 col-sm-6">
        <!--<ul class="col-xs-12">-->
        <ul>
            <a href="/">
                <li><img src="img/logo/codenamu-logo.svg" class="codenamu_logo"></li>
                <li><span class="header_sub_title">The Financial Disclosure of Public Officials</span></li>
            </a>
        </ul>
    </div>    
    <div class="col-xs-7 col-sm-6">
        <ul class="header_menu">
            <li name="search"><a href="#">Search</a></li>
            <li name="introduce"><a href="#">Introduction</a></li>
            <li name="news"><a href="#">Articles</a></li>
        </ul>
    </div>
</div>