<div class="content_container">
    <div class="content_title col-xs-12 col-sm-12">
        <div>The Financial Disclosure of</div>
        <div>Public Officials</div>
    </div>
    <div class="row">
        <div class="content_update col-xs-12 col-sm-12">Last update: April 12, 2017</div>

        <div class="col-xs-12 col-sm-6 content_introduce_en">
            <p>
                The Financial Disclosure of Public Officials project aims to refine, visualize, and disclose public officials’ property data from 2011 to 2017. The public financial disclosure was first implemented in 1993, in the Public Service Ethics Act. The property disclosure system is designed to prevent corruption by disclosing the assets of high-ranking officials in a transparent manner. According to the Public Service Ethics Act, the Public Ethics Committee discloses public officials’ details through official gazettes and public announcements. However, in general, it is difficult for citizens to find the official gazette to confirm the property information. It is also difficult, because the information is displayed sporadically, and the format is slightly different for each institution.
            </p>
        </div>

        <div class="col-xs-12 col-sm-6 content_introduce_en">
            <p>

                To solve this problem, Codenamu has been carrying out projects to collect the property details of senior officials since 2016. We created a website using the 2016 data with Newstapa, the Korean investigative journalism organization, and in 2017, we worked with Joongang Daily to produce a series of articles. Along with the website, we are also releasing the five-year refined data in Excel format.
            </p>
        </div>
    </div>
    <div class="row">
        <table class="col-xs-12 download_table">
            <tr>
                <td class="download_year">2017</td>
                <td class="download_name">
                    Data Download<br/>
                    <span class="download_data_format">
                        <a href="/excel/2017_assets.xlsx">.xlsx</a> 
                        <a href="/excel/2017_assets.csv">.csv</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="download_year">2016</td>
                <td class="download_name">
                    Data Download<br/>
                    <span class="download_data_format">
                        <a href="/excel/2016_assets.xlsx">.xlsx</a> 
                        <a href="/excel/2016_assets.csv">.csv</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="download_year">2015</td>
                <td class="download_name">
                    Data Download<br/>
                    <span class="download_data_format">
                        <a href="/excel/2015_assets.xlsx">.xlsx</a> 
                        <a href="/excel/2015_assets.csv">.csv</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="download_year">2014</td>
                <td class="download_name">
                    Data Download<br/>
                    <span class="download_data_format">
                        <a href="/excel/2014_assets.xlsx">.xlsx</a> 
                        <a href="/excel/2014_assets.csv">.csv</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="download_year">2013</td>
                <td class="download_name">
                    Data Download<br/>
                    <span class="download_data_format">
                        <a href="/excel/2013_assets.xlsx">.xlsx</a> 
                        <a href="/excel/2013_assets.csv">.csv</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="download_year">2012</td>
                <td class="download_name">
                    Data Download<br/>
                    <span class="download_data_format">
                        <a href="/excel/2012_assets.xlsx">.xlsx</a> 
                        <a href="/excel/2012_assets.csv">.csv</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="download_year">2011</td>
                <td class="download_name">
                    Data Download<br/>
                    <span class="download_data_format">
                        <a href="/excel/2011_assets.xlsx">.xlsx</a> 
                        <a href="/excel/2011_assets.csv">.csv</a>
                    </span>
                </td>
            </tr>
        </table>    
    </div>
    <div class="license_desc row">
        <div class="cols-xs-12 col-sm-6">
            <div class="intro_title">License</div>
            <div class="intro_text"><a href="https://creativecommons.org/licenses/by-sa/2.0/kr/" target="_blank">This work is licensed under a Creative Commons Attribution-ShareAlike 2.0 Korea License.</a></div>
            <div class="intro_img"></div>
        </div>
        <div class="git_desc cols-xs-12 col-sm-6">
            <div class="intro_title">Github</div>
            <div class="intro_text"><a href="https://github.com/codenamu/official-assets-explorer-2017" target="_blank">https://github.com/codenamu/official-assets-explorer-2017</a></div>
        </div>
    </div>
    <div class="site_desc row">
        <div class="cols-xs-12 col-sm-12 intro_title">Credit</div>
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div class="intro_text">Data Refine</div>
                <div class="intro_name">Seungbum Kim</div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="intro_text">Design</div>
                <div class="intro_name">Wonyoung So</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div class="intro_text">Development</div>
                <div class="intro_name">Yong Sik Cho</div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="intro_text">Project Manager</div>
                <div class="intro_name">Jennifer Kang</div>
            </div>
        </div>
    </div>
</div>