<div class="content_container">
    <div class="content_title col-xs-12 col-sm-12">
        <div>The Financial Disclosure of</div>
        <div>Public Officials</div>
    </div>
    <div class="row">
        <div class="content_update col-xs-12 col-sm-12">Last update: April 12, 2017</div>
        <div class="l-apple-box"></div>
        <div class="col-xs-12 col-sm-12">
            <p class="content_news_introduce">
                The links below are articles that worked with various media outlets.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="article col-xs-12 col-sm-7">
            <a href="http://news.joins.com/article/21442078" target="_blank">
                <div class="news_image"><img src="img/article/images_01.png" srcset="img/article/images_01@2x.png 2x" class="codenamu_logo"></div>
                <div class="news_title">What neighborhoods were senior officials in favor?</div>
                <div class="news_sub_title">April 5th, 2017, Joongang Daily</div>
            </a>
        </div>
        <div class="article col-xs-12 col-sm-5">
            <a href="http://news.joins.com/article/21415533" target="_blank">
                <div class="news_image"><img src="img/article/images_02.png" srcset="img/article/images_02@2x.png 2x" class="codenamu_logo"></div>
                <div class="news_title">Met parents well, or married well</div>
                <div class="news_sub_title">March 29th, 2017, Joongang Daily</div>
            </a>
        </div>
        <div class="article col-xs-12 col-sm-7">
            <a href="http://news.joins.com/article/21400830" target="_blank">
                <div class="news_image"><img src="img/article/images_03.png" srcset="img/article/images_03@2x.png 2x" class="codenamu_logo"></div>
                <div class="news_title">Senior Officials, Rich in the Top 5%</div>
                <div class="news_sub_title">April 2nd, 2017, Joongang Daily</div>
            </a>
        </div>
        <div class="article col-xs-12 col-sm-5">
            <a href="http://jaesan.newstapa.org/" target="_blank">
                <div class="news_image"><img src="img/article/images_04.png" srcset="img/article/images_04@2x.png 2x" class="codenamu_logo"></div>
                <div class="news_title">Newstapa Senior Officials Project</div>
                <div class="news_sub_title">April 2nd, 2016, Newstapa</div>
            </a>
        </div>
    </div>
</div>
    